<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="index.html" method="post">
    <input type="text" name="" value="">
    <button type="button" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>
